<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cert_file_path" value="test.pfx" />
    <add key="cert_password" value="tekka" />
    <add key="cert_local_host" value="local.tekka-local.work" />
    <add key="cert_file_url" value="http://www.tekka-local.work/parallel_hybrid_app/test.pfx" />
  </appSettings>
</configuration>